/* @font-face {
     font-family: "IranianSans" !important;
     src: url("../A-Iranian-Sans//IranianSans.ttf") format("ttf");
 } */

@font-face {
  font-family: "BYekan";
  src: url("../font/BYekan.eot");
  src: url("../font/BYekan.eot?#iefix") format("embedded-opentype"),
    url("../font/BYekan.woff") format("woff"),
    url("../font/BYekan.ttf") format("truetype"),
    url("../font/BYekan.svg#BYekan") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "BYekan";
  font-size: 10pt;
  direction: rtl;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 65px;
  right: 0px;
  width: 100%;
  /* border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px; */
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 65px;
  left: 0px;
  right: 0px;
  width: 100%;
  /* border-top-right-radius: 40px;
      border-top-left-radius: 40px; */
  overflow: hidden;
}

.class-section {
  font-family: IRANSans !important;
  position: absolute;
  top: 70px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

.userAvatar img {
  width: 80px;
  height: 80px;
}

.cartAvatar img {
  width: 35px;
  height: 40px;
}

.userAvatar:hover,
.cartAvatar:hover {
  background-color: #2c2c2c;
  cursor: pointer;
}

.searchBox {
  border-radius: 20px;
}

.avatarProduct {
  background-color: rgba(209, 201, 201, 0.1);
  display: inline-block;
  margin: 0 0 0 2em;
  height: 50%;
  width: 60%;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}

/* new card */

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper:focus {
  outline: 0;
}

.product-card {
  background: #d7d2cc;
  width: 100%;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  /* z-index: 10; */
}

.product-card__image {
  position: relative;
  height: 160px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.product-card__image--index {
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/index-bg.jpg"); */
  /* background-color: #d7d2cc; */
  background-image: linear-gradient(to bottom right, #1a1d22, #1a1d22);
  /* background-image: linear-gradient(to bottom right, red, yellow); */
  filter: grayscale(100%);
  box-shadow: 0 0 10px black;
  transition: 0.3s;
  /* background-image: linear-gradient(to bottom right, red, yellow); */
}

.product-card__image--index:hover {
  background-image: linear-gradient(to bottom right, red, yellow);
  filter: grayscale(1%);
}

.product-card__image--index img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: -65px;
  left: 0px;
  /* filter: grayscale(100%); */
}

/* .product-card__image--index img:hover {
} */
.product-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.product-card__level--index {
  color: #ec9b3b;
}

.product-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.product-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.product-card__unit-stats--index {
  background: #ec9b3b;
}

.product-card__unit-stats--index .one-third {
  border-right: 1px solid #bd7c2f;
}

.product-card__unit-stats {
  color: #d7d2cc;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.product-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
  color: white;
}

.product-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}

.product-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.product-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.imageClassColor {
  filter: brightness(0) invert(1);
}
a{
  text-decoration: none;
}

/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
  height: auto;
}

.four_zero_four_bg {
  background-image: url("../background/404.gif");
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}
.contant_box_404 {
  margin-top: -50px;
}

/*======================
    404 page
=======================*/
